body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f9;
    color: #333;
}

h1, h2 {
    color: #444;
}

.hidden {
    display: none;
}

button {
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

input {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 22px);
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    padding: 10px;
    background: #fff;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#rooms-list li {
    cursor: pointer;
    color: #007bff;
}
